@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-ligature-full.css");

.ace .ace_editor {
    height: 404px;
    width: 816px;
}
.ace #editor_alert {
    font-size: 1.8drem;
}
.ace .ace_content {
    text-align: left !important;
}

.ace .ace_editor {
    max-width: 100%;
}

.ace #source, .ace #frame_source, .ace #EditAreaArroundInfos_source {
    display: none !important;
}
